@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&family=Playfair+Display:wght@400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

:root {
	--poppins: 'Poppins', sans-serif;
	--playfair: 'Playfair Display';
	--montserrat: 'Montserrat', sans-serif;
	--lato: 'Lato', sans-serif;
	--light: #F9F9F9;
	--grey: #eee;
	--dark-grey: #AAAAAA;
	--dark: #342E37;
	--red: #8B0000;
    --red-transparent:rgba(139, 0, 0,0.50);
	--yellow: #FFD700;
	--dark-red:#1e0000;
    --box-shadow: 2px 3px 2px #00000060;
    --text-shadow: 1px 1px 3px rgb(255,215,0);
    --radius: 1.5rem;
    
}

body.dark {
	--light: #020202;
	--grey: #0f0a0a;
	--dark: #FBFBFB;
	--red: #FFD700;
	--yellow: #8B0000;
	--dark-red:#FBFBFB;
	--dark-grey: #000000EE;
    --box-shadow: 2px 3px 2px #8B0000;
    --red-transparent:rgb(249, 249, 249,0.50);
}

body {
	background: var(--grey);
	overflow-x: hidden;
}
/*Se tiver sessao iniciada as informacoes do menu vão receber essa estilização
foto
nome de usuario
tipo de user
 */
    .user_info_menu{
        font-size: 12pt;
        width: 30rem;
    }
*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*{
    font-family: var(--montserrat);
    outline: none; 
    border: none;
    text-decoration: none;
    transition: .2s linear;
    font-weight: bolder;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: var(--red);
    border-radius: .5rem;
}

section{
    padding: 3rem 7%;
}

.heading{
    font-size: 4rem;
    color: var(--red);
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: 3rem;
}

.btn{
	margin-top: 4rem;
	display: inline-block;
	font-size: 1.7rem;
	color: var(--yellow);
	border: .1rem solid rgba(14, 13, 13, 0.2);
	background: var(--red);
	cursor: pointer;
	bottom: 2rem;
	border-radius: var(--radius);
	padding: .8rem 4rem;
	position: relative;
	overflow: hidden;
	z-index: 1;
}
.btn:hover{
	color: var(--red);
}
.btn:before{
	content: '';
	width: 100%;
	height: 100%;
	z-index: -1;
	position: absolute;
	background: var(--yellow);
	top: 0;
	left: -100%;
	transition: .5s;
}
.btn:hover.btn:before{
	left: 0;
}
/************* header mobile ************/
.navbarMobile{display: none;}
/************* header ************/
.header .navbar{
    width: 100%;
	height: 8rem;
	background: var(--light);
    box-shadow: var(--box-shadow);
	display: flex;
	align-items: center;
    justify-content: space-between;
	grid-gap: 24px;
	top: 0;
	left: 0;
    right: 0;
	z-index: 1000;
    position: fixed;
    text-transform: uppercase;
    padding: 1rem 4%;
	border-bottom-left-radius:25%;
	border-bottom-right-radius: 25%;
    border-bottom: .4rem solid var(--yellow);
}

.header .navbar .logo img{
	width: 6rem;
    margin-left: 35px;
    margin-right: 130px;
	object-fit: cover;
	border-radius: 25%;
}
.header .navbar a {
    font-size: 20px;
    color: var(--red);
    font-weight: bolder;
    margin: 0rem;
}

.header .navbar div a {
    font-size: 18px;
    color: var(--yellow);
    margin-left: 130px;
    font-weight: bolder;
}

.header .navbar a:hover,
.header .icons div:hover{
    color: var(--yellow);
}

.header .navbar .profile img {
	width: 10rem;
	height: 10vh;
	object-fit: cover;
	border-radius: 25%;
	cursor: none;
}
header .navbar .switch-mode {
	display: block;
	min-width: 40px;
	height: 25px;
	border-radius: 25px;
	background: var(--grey);
	cursor: pointer;
	position: relative;
}
header .navbar .switch-mode::before {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	bottom: 2px;
	width: calc(25px);
	background: var(--yellow);
	border-radius: 50%;
	transition: all .3s ease;
}
header .navbar #switch-mode:checked + .switch-mode::before {
	left: calc(100% - 25px - 2px);
}
.header .navbar .profile img {
	width: 50px;
	height: 50px;
	object-fit: cover;
	border-radius: 25%;
}

#menu-btn{
    display: none;
    font-size: 2.5rem;
    margin-left: 1.7rem;
    cursor: pointer;
    color: var(--gray);
}

#menu-btn:hover{
    color: var(--red);
}

/******** home *******/
.home{
    padding: 0;
    min-height: 100vh;
    display: flexbox;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
    position: relative;
    box-sizing: border-box;
}

.home .content{
    flex: 1 1 40rem;
    padding-top: 6.5rem;
}

.home .content h3{
    font-size: 6rem;
    color: var(--dark);
}

.home .content h3 span{
    color: var(--yellow);
}

.home .content p{
    font-size: 1.7rem;
    color: var(--light);
    line-height: 1.8;
    padding: 1rem 0;
    text-align: justify;
}

.home .image{
    flex: 1 1 40rem;
}

.home .image img{
    width: 100%;
    padding: 4rem;
    object-fit: cover;
}
.home .slide{
    min-height: 100vh;
    background-size: cover !important;
    background-position: center !important;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.home .slide .content{
    width: 80rem;
    text-align: center;
}

.home .slide .content h3{
    font-size: 4rem;
    text-transform: uppercase;
    color: var(--yellow);
    line-height: 1.1;
    padding: 2rem 0;
}

.swiper-button-next,
.swiper-button-prev{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    background: var(--white) transparent;
    color: var(--yellow);
}

.swiper-button-next:hover,
.swiper-button-prev:hover{
    background: var(--white) transparent;
    color: var(--red);
}

.swiper-button-next::after,
.swiper-button-prev::after{
    font-size: 5rem;
}
/**************** mensagem de confirmação da reserva ****************/
.Msgx{
    width:100%;
    background: rgba(255, 238, 0, 0.8);
    height:35px;
}
.Msgx p{
    text-transform: uppercase;
    font-weight:600;
    font-size: 15pt;
    color:black;
}
/**************** end here ****************/
/**************** disponibilidade ****************/
.disponibilidade{
    margin-top: 7rem;
    text-transform: uppercase;
}
.disponibilidade .row{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--light);
    border: 1px solid var(--yellow);
    border-radius: var(--radius);
    box-shadow: var(--box-shadow);
}
.disponibilidade .row .hero{
    width:100%;
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 30px;
    justify-content: center;
}

.disponibilidade .row .hero form{
    width: 90%;
    max-width: 90%;
}

.disponibilidade .row .hero form .input-group{
    margin-bottom: 20px;
    position: relative;
    
}

.disponibilidade .row .hero form input,
.disponibilidade .row .hero form select,
.disponibilidade .row .hero form fieldset, 
.disponibilidade .row .hero form textarea{
    width: 100%;
    padding: 10px;
    outline: none;
    color: var(--dark);
    background: var(--light);
    border-radius: var(--radius);
    border: 1px solid var(--yellow);
    font-size: 18px;
}

.disponibilidade .row .hero form label{
    position: absolute;
    left: 0;
    top: 0;
    cursor: text;
    padding: 10px;
    color: var(--red);
    transition: 0.2s;
    pointer-events: none;
    font-size: 1em;
    text-transform: uppercase;
}

.disponibilidade .row .hero form button{
    padding: 10px 0;
    border: 2px solid var(--dark);
    width: 50%;
    cursor: pointer;
}

.disponibilidade .row .hero form input:focus~label,
.disponibilidade .row .hero form input:valid~label,
.disponibilidade .row .hero form select:focus~label,
.disponibilidade .row .hero form select:valid~label,
.disponibilidade .row .hero form fieldset:focus~label,
.disponibilidade .row .hero form fieldset:valid~label,
.disponibilidade .row .hero form textarea:focus~label,
.disponibilidade .row .hero form textarea:valid~label{
    color: var(--red);
    font-size: 14px;
    background: var(--light);
    border-radius: var(--radius);
    transform: translateX(15px) translateY(-7px);
    padding: 0 10px;
    border-left: 3px solid var(--yellow);
    border-right: 3px solid var(--yellow);
    letter-spacing: 0.2em;
}

.disponibilidade .row .hero form .rows{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0rem;
}

.disponibilidade .row .hero form .rows .input-group{
    flex-basis: 48%;
    margin-right: 2rem;
    justify-content: space-between;
}
/*********************** fim disponibilidade **********************/

/************ disponibilidade *************/
/*.disponibilidade form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    background-image: url("../img/Servicos/decoracao1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    padding: 4rem 1rem 1rem;
    border-radius: var(--radius);
    box-shadow: var(--box-shadow);
    border: 1px solid var(--yellow);
    font-weight: bolder;
    background: var(--light);
}

.disponibilidade form .container{
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
}

.disponibilidade form .box{
    flex: 1 1 10rem;
}

.disponibilidade form .box p{
    font-size: 2rem;
    color: var(--red);
    text-align: justify;
}

.disponibilidade form .box .input{
    width: 100%;
    text-align: center;
    padding: 1rem;
    font-size: 1.8rem;
    color: var(--dark);
    margin: 1rem 0;
    background: transparent;
    border-radius: var(--radius);
    border-bottom: .1rem solid rgba(108, 5, 5, 0.804);
}

.disponibilidade form .box select option{
    background-color: var(--light);
}

.disponibilidade form .btn{
    width: 50%;
    text-transform: uppercase;
    text-align: center;
}
*/
/**************** Planos ***************/
.plano .table-data {
	display: flex;
	text-align: center;
	flex-wrap: wrap;
	margin-top: 24px;
	width: 100%;
	color: var(--yellow);
}
.plano .table-data > div {
	border-radius: var(--radius);
    border: 1rem;
	text-align: center;
	background: var(--light);
	padding: 24px;
}
.plano .table-data .head {
	display: flex;
	align-items: center;
	grid-gap: 14px;
	margin-bottom: 24px;
}
.plano .table-data .head h3 {
	font-size: 4rem;
	font-weight: 600;
}
.plano .table-data .order {
	text-align: left;
	flex-grow: 3;
}
.plano .table-data .order table {
	width: 100%;
    margin-top: 10px;
	border-collapse: collapse;
}
.plano .table-data .order table th {
	padding-bottom: 12px;
	font-size: 4rem;
	border-bottom: 1px solid var(--grey);
}
.plano .table-data .order table td {
	padding: 20px 0;
    font-weight: 600;
    font-size: 4rem;
    background-color: var(--light);
}
.plano .table-data .order table tr{
    color: var(--dark);
    box-shadow: 0 7px 25px rgba(7, 7, 7, 0.718);
    border-radius: 20px;
    text-align: center;
}
.plano .table-data .order table tr:last-child{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.plano .table-data .order table tr td:first-child {
	display: flex;
	align-items: center;
	grid-gap: 6px;
	padding-left: 20rem;
}
.plano .table-data .order table tbody tr:hover {
    background: var(--yellow);
    color: var(--red);
}
.plano .table-data .order table tr td:first-child {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.plano .table-data .order table tr td:last-child {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.plano .table-data .order table tr td:nth-child(1) {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

/**************** planos ****************/
.planos{
    margin-top: 7rem;
    text-transform: uppercase;
}
.planos .row{/*
    height: 35rem;*/
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 7rem;
    background: var(--light);
    border-radius: var(--radius);
    box-shadow: var(--box-shadow);
    border: 1px solid var(--yellow);
}

.planos .row .image{
    width: 20%;
    padding-left: 20px;
}

.planos .row .image img{
    width: 100%;
    object-fit: cover;
}

.planos .row .content{
    flex: 1 1 51rem;
}

.planos .row .content h3{
    font-size: 3.5rem;
    color: var(--red);
    padding: 2rem 0;
    text-align: center;
}

.planos .row .content p{
    font-size: 2.6rem;
    color: var(--dark);
    padding: 1.5rem 2rem;
    line-height: 1.8;
    text-align: justify;
    text-align: center;
}

.planos .row .content p span{
    color: var(--red);
}
/*********************** fim Planos **********************/


/**************** sobre ****************/
.sobre{
    margin-top: 7rem;
    text-transform: uppercase;
}
.sobre .row{
    height: 35rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 7rem;
    background: var(--light);
    border-radius: var(--radius);
    box-shadow: var(--box-shadow);
    border: 1px solid var(--yellow);
    padding: 2%;
}

.sobre .row .image{
    width: 20%;
    padding-left: 20px;
}

.sobre .row .image img{
    width: 80%;
    object-fit: cover;
}

.sobre .row .content{
    flex: 1 1 51rem;
    
    
}

.sobre .row .content h3{
    font-size: 2rem;
    color: var(--red);
    padding: 2rem 0;
    text-align: center;
}

.sobre .row .content p{
    font-size: 1.6rem;
    color: var(--dark);
    padding: 1.5rem 2rem;
    line-height: 1.8;
    text-align: justify;
}

.sobre .row .content p span{
    color: var(--red);
}

/************** Objetivos *********/
.objetivos{
    width:80%;
    background: transparent;
    box-sizing: border-box;
    
}
.objetivos .rows{
    font-size: 2rem;
    width:80%;
    padding: 5rem;
    
    
}
.objetivos .rows .content p{
    font-size: 2rem;
    color: var(--dark);
    padding: 2rem;
    line-height:1.6;
    text-align: justify;
}

/************* Salões ****************/
.salao{
    display: flexbox;
    box-sizing: border-box;
}

.salao .box-container{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(16rem,1fr));
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.salao .slide{
    height: 75vh;
    background: var(--light);
    border-radius: var(--radius);
    box-shadow: var(--box-shadow);
    border: 1px solid var(--yellow);
    margin-bottom: 0rem;
}

.salao .slide .image{
    height: 30vh;
    width: 100%;
    padding: .5rem;
    overflow: hidden;
    position: relative;
    object-fit: cover;
}

.salao .slide .image img{
    width: 100%;
    height: auto;
    border-radius: var(--radius);
    object-fit: cover;
}

.salao .slide .image .stars{
    padding: 1rem 0;
    padding-left: 25rem;
}

.salao .slide .image .stars i{
    font-size: 1.7rem;
    color: var(--red);
}

.salao .slide .content{
    padding: 2rem;
    padding-top: 0;
}

.salao .slide .content h3{
    font-size: 2.5rem;
    text-align: center;
    color: var(--red);
}

.salao .slide .content h2{
    font-size: 2.5rem;
    text-align: center;
    color: var(--dark);
}

.salao .slide .content p{
    height: 2rem;
    font-size: 1.6rem;
    color: var(--dark);
    padding: .5rem 0;
    line-height: 1.5;
    text-align: justify;
}

.salao .slide .content .btn{
    margin-top: 3rem;
}

/************ servicos ******************/
.servicos{
    display: flexbox;
    box-sizing: border-box;
}
.servicos .box-container{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(16rem,1fr));
    gap: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.servicos .slide{
    height: 75vh;
    background: var(--light);
    border-radius: var(--radius);
    box-shadow: var(--box-shadow);
    border: 1px solid var(--yellow);
    margin-bottom: 2rem;
}

.servicos .slide .image{
    height: 30vh;
    width: 100%;
    padding: .5rem;
    overflow: hidden;
    position: relative;
}

.servicos .slide .image img{
    width: 100%;
    height: auto;
    border-radius: var(--radius);
    object-fit: cover;
}

.servicos .slide .image .stars{
    padding: 1rem 0;
    padding-left: 25rem;
}

.servicos .slide .image .stars i{
    font-size: 1.7rem;
    color: var(--red);
}

.servicos .slide .content{
    padding: 3rem;
    padding-top: 0;
}

.servicos .slide .content h3{
    font-size: 2.5rem;
    text-align: center;
    color: var(--red);
}

.servicos .slide .content h2{
    font-size: 2.5rem;
    text-align: center;
    color: var(--dark);
}

.servicos .slide .content p{
    height: 3rem;
    font-size: 1.6rem;
    color: var(--dark);
    padding: .5rem 0;
    line-height: 1.5;
    text-align: justify;
}

.servicos .slide .content .btn{
    margin-top: 2rem;
}

/******************* gallery ******************/
.gallery{
    background-size: cover;
    object-fit: cover; 
}
  
.gallery .gallery-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2.5rem;
}
  
.gallery .gallery-container .box{
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: var(--radius);
}
  
.gallery .gallery-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
  
.gallery .gallery-container .box:hover img{
    transform: scale(1.2);
}
  
.gallery .gallery-container .box .icon{
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0; left: 0;
    z-index: 10;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.4);
    display: none;
}
  
.gallery .gallery-container .box .icon i{
    font-size: 6rem;
    color: var(--yellow);
}
  
.gallery .gallery-container .box:hover .icon{
    display: flex;
}

/***************** opniao *****************/
.opniao{
    width: 100%;
    height: 35rem;
    position: relative;
}

.opniao .opniao-slider{
    padding: 2rem;
    width: 100%;
    height: 150%;
    margin-top: -3rem;
    margin-right: 60rem;
    padding-top: 1%;
    padding-bottom: 1%;
    background: var(--light);
    border-radius: var(--radius);
    box-shadow: var(--box-shadow);
    border: 1px solid var(--yellow);
    color: var(--yellow);
}

.opniao .slide{
    text-align: center;
}

.opniao .slide .heading{
    color: var(--red);
}

.opniao .slide i{
    font-size: 6rem;
    color: var(--red);
}
.opniao .slide .fa-quote-left{
    float: left;
    padding-left: 4rem;
}
.opniao .slide .fa-quote-right{
    float: right;
    padding-right: 4rem;
    padding-top: 0;
}
.opniao .slide p{
    padding-bottom: 1.5rem;
    padding-right: 8rem;
    padding-left: 8rem;
    padding-top: 4rem;
    padding-bottom: 0rem;
    font-size: 2rem;
    line-height: 2;
    color: var(--dark);
}

.opniao .slide .user{
    display: flex;
    width: 100vw;
    gap: 2.5rem;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    padding-right: 25%;
    border-radius: .5rem;
}

.opniao .slide .user img{
    height: 17rem;
    width: 17rem;
    border-radius: var(--radius);
    object-fit: cover;
}

.opniao .slide .user h3{
    font-size: 2rem;
    color: var(--red);
    padding-bottom: .5rem;
}

.opniao .slide .user i{
    font-size: 1.3rem;
    color: var(--yellow);
}
.opniao .slide .content .icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.opniao .slide .content .icon a{
    font-size: 1.5rem;
    color: var(--yellow);
}

.opniao .slide .content .icon a:hover{
    color: var(--red);
}

.opniao .slide .content .icon a i{
    padding-right: .7rem;
    color: var(--red);
}

/**************** perguntas ********************/
.perguntas .row{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    text-align: center;
    background: var(--light);
    border-radius: var(--radius);
    box-shadow: var(--box-shadow);
    border: 1px solid var(--yellow);
}

.perguntas .row .content{
    flex: 1 1 40rem;
}

.perguntas .row .content .box{
    margin-top: 2rem;
}

.perguntas .row .content .box h3{
    font-size: 2rem;
    color: var(--red);
    padding: 1.5rem;
    cursor: pointer;
}

.perguntas .row .content .box p{
    font-size: 1.6rem;
    padding: 1.5rem 2rem;
    line-height: 2;
    color: var(--dark);
    display: none;
    text-align: justify;
}

.perguntas .row .content .box.active p{
    display: inline-block;
}

/************** previsualizar imagem *********/
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#form-form{
    & .image-upload{
        position: relative;
        margin-left: 45%;
        width: 100px;
        height: 100px;
        border: 2px solid var(--yellow);
        border-radius: 15%;
        box-shadow: var(--box-shadow);
        overflow: hidden;
        margin-bottom: 20px;
    }

    & .image-upload img{
        object-fit: cover;
    }

    & .image-upload i{
        position: absolute;
        margin: 0 auto;
        font-size: 50px;
        color: var(--red);
    }

    & #image-field{
        position: absolute;
        margin: 0 auto;
        width: 100px;
        height: 100px;
        opacity: 0;
    }
}
/**************** reserva ******************/
.reserva form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
/*    background-image: url("../img/Servicos/decoracao1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;*/
    padding: 2rem;
    width: 100%;
    background: var(--light);
    border-radius: var(--radius);
    box-shadow: var(--box-shadow);
    border: 1px solid var(--yellow);
}

.reserva form .container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.reserva form .container .box{
    flex: 1 1 40rem;
    justify-content: center;
}

.reserva form .container .box p{
    font-size: 1.8rem;
    color: var(--red);
    text-align: center;
    text-align: justify;
}

.reserva form .container .box .input{
    font-size: 1.8rem;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    margin: 1rem 0;
    background: transparent;
    border-radius: var(--radius);
    border-bottom: .1rem solid rgba(108, 5, 5, 0.804);
    color: var(--dark);
}

.reserva form .container .box select option{
    background-color: var(--light);
}

.reserva form .container .box fieldset{
	font-size: 1.8rem;
    padding: 1rem;
    margin: 1rem 0;
    text-align: center;
    border-radius: var(--radius);
    color: var(--dark);
}

.reserva form .btn{
    width: 50%;
    text-align: center;
    text-transform: uppercase;
}

/**************** comentario ***************/
.row{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--light);
    border: 2px solid var(--yellow);
    border-radius: var(--radius);
    box-shadow: var(--box-shadow);
}
.row .hero{
    width:100%;
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 30px;
    justify-content: center;
}

.row .hero form{
    width: 90%;
    max-width: 600px;
}

.row .hero form .input-group{
    margin-bottom: 20px;
    position: relative;
}

.row .hero form input, 
.row .hero form textarea{
    width: 100%;
    padding: 10px;
    outline: none;
    color: var(--dark);
    background: var(--light);
    border-radius: var(--radius);
    box-shadow: var(--box-shadow);
    border: 2px solid var(--yellow);
    font-size: 15px;
}

.row .hero form label{
    position: absolute;
    left: 0;
    top: 0;
    cursor: text;
    padding: 10px;
    color: var(--red);
    transition: 0.2s;
    pointer-events: none;
    font-size: 1em;
    text-transform: uppercase;
}

.row .hero form button{
    padding: 10px 0;
    border: 2px solid var(--dark);
    width: 50%;
    cursor: pointer;
}

.row .hero form input:focus~label,
.row .hero form input:valid~label,
.row .hero form textarea:focus~label,
.row .hero form textarea:valid~label{
    color: var(--red);
    font-size: 14px;
    background: var(--light);
    border-radius: var(--radius);
    transform: translateX(15px) translateY(-7px);
    padding: 0 10px;
    border-left: 1px solid var(--yellow);
    border-right: 1px solid var(--yellow);
    letter-spacing: 0.2em;
}

.row .hero form .rows{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row .hero form .rows .input-group{
    flex-basis: 48%;
}

.row .hero img{
	width: 15px;
	float: left;
    object-fit: cover;
	margin: 0px 10px;
}

.entrar{
    margin-top: 7rem;
}

.entrar .row .hero h2{
	font-size: 16pt;
	color: var(--red);
}
.entrar h2{
	color: var(--yellow);
}

.entrar .row .hero form input{
    width: 100%;
    padding: 10px;
    outline: none;
    color: var(--dark);
    background: var(--light);
    border-radius: var(--radius);
    box-shadow: var(--box-shadow);
    border: 2px solid var(--yellow);
    font-size: 15px;
}

/************************* Staff **************************/
.filterable_cards{
    display: flex;
    margin-top: 25px;
    gap: 20px;
    flex-wrap: wrap;
}
.card{
    flex-grow: 1;
    flex-basis: 300px;
    background-color: var(--light);
    padding: 3px;
    border-radius: var(--radius);
    box-shadow: var(--box-shadow);
    border: 2px solid var(--light);
}
.card.hide{
    display: none;
}
.card img{
    width:25%;
    height:40%;
    border-radius: var(--radius);
    align-items: center;
    text-align: center;
    margin: 2rem;
}
.card_body{
    padding: 15px 20px 20px;
    
}
.card:hover{
    box-shadow: var(--box-shadow);
    border: 2px solid var(--yellow);
}
.card_title{
    text-align: center;
    font-size: 18px;
    color: var(--red);
}
.card_text{
    text-align: center;
    font-size: 14px;
    color: var(--yellow);
}
.card a{
    color: var(--red);
}
.card_text i{
    text-transform: var(--montserrat);
    color: var(--yellow);
}

/**************** footer ****************/
.footer{
    background: var(--light);
    margin-top: 15rem;
	border-top-left-radius:15%;
	border-top-right-radius: 15%;
    border-top: .4rem solid var(--yellow);
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
}

.footer .box-container .box{
    margin-left: 1rem;
}
.footer .box-container .box h3{
    font-size: 2.2rem;
    padding: 1rem 0;
    color: var(--yellow);
}

.footer .box-container .box a{
    font-size: 1.6rem;
    display: block;
    color: var(--red);
    padding: 1rem 0;
}

.footer .box-container .box a i{
    color: var(--red);
    padding-right: .5rem;
}

.footer .box-container .box a:hover,
.footer .box-container .box a i:hover{
    color: var(--yellow);
}

.footer .compartilhar{
    padding-top: 2rem;
    text-align: center;
}

.footer .compartilhar a{
    color: var(--red);
    font-size: 2rem;
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    border-radius: 50%;
    border: .1rem solid var(--red);
    margin: .3rem;
}

.footer .compartilhar a:hover{
    color: var(--yellow);
    background: var(--red);
    transform: rotate(360deg);
}

.footer .credit{
    font-size: 2rem;
    text-align: center;
    margin-top: 2.5rem;
    padding-top: 2rem;
    border-top: .1rem solid rgba(0, 0, 0, 0.3);
    color: var(--yellow);
}

.footer .credit span{
    color: var(--red);
}

.footer .box-container .box .logo img{
    width: 11rem;
}
/* end */

/*jump to top start here */
.topbtn{
	position: fixed;
	right: 2%;
	bottom: 10%;
	width: 45px;
	height: 45px;
    border-radius: 15%;
	background: var(--red);
	color: var(--yellow);
	cursor: pointer;
}
/*jump to top end here */

/************ tootips ************/
.tooltip{
    font-size: 4rem;
    color: var(--red);
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: 3rem;
}

h1{
    position: relative;
    cursor: pointer;
    text-decoration: underline;/*
    text-decoration-style: dotted;*/
    text-decoration-color: var(--yellow);
}

h1:hover{
    color: var(--red);
}

h1::before{
    content: attr(data-tooltip);
    position: absolute;
    font-size: 24px;
    color: var(--yellow);
    background: transparent;
    padding: 3.5rem;
    border-radius: var(--radius);
    box-shadow: 0px opx 10px var(--gray);
    right: 0%;
    left: 0%;
    top: -100%;
    clip-path: circle(0rem at center);
    overflow: hidden;
    transition: 300ms all ease-in;
}
/*
#menu-Btn nav{
    display: none;
}
*/
h1:hover::before{
    clip-path: circle(40rem at center);
    top: -100%;
}

/*************** media queries *******************/


/*************** MODO TABLET ******************/
@media (max-width:85rem){

    .navbarMobile{
        width:100% !important;
        height: 10vh !important;
        background: var(--light);
        box-shadow: var(--box-shadow);
        transition: 2s;
        display:block;
        align-items: center;
        justify-content: space-between;
        grid-gap: 24px;
        z-index:100;
        position: fixed;
        text-transform:uppercase;
        padding: 1rem 4%;
        top:0;
        left:0 !important;
        border-bottom-left-radius:25%;
        border-bottom-right-radius: 25%;
        border-bottom: .4rem solid var(--red);
        background-image:url('/img/dancing2.png');
        background-repeat: no-repeat;
        background-size:6rem 8rem;
        background-position-x: center;
        box-sizing: border-box;
        
    }
    .navbarMobile i{
        font-size: 3rem;
        color: var(--yellow);
    }
   nav{
        margin-top: 50px;
        background-color: rgba(255, 255, 255, 0.8);
        width: 100%;
        height:100rem;
        left:-100%;
        position: absolute;
        transition:3s !important;
    }
    
    ul{
        width: 100%;
        margin-top: 10px;
        list-style: none;
        position: absolute;
        padding-left: 30px;
        justify-content: space-between;
        justify-items: center center;
        text-align: center;
    }
    li{
        width: 100%;
        height: 8rem;
        display: block;
        position: relative;
        border-radius: 10px;
    }
    li a{
        font-size: 2.6rem;
        font-family: var(--montserrat);
        color: var(--yellow);
        font-weight: bolder;
        padding: 2px;
        border-bottom: .2rem solid var(--red);
    }
    .switch-mode{
        top: 10px;
        display: inline-block;
        float: right;
        font-size: 2rem;
        color: var(--yellow);
    }
    li a:hover{
        font-size: 2rem;
        color: var(--red);
    }
    input[type="checkbox"]{
        display: none;
    }

    label{
        position: relative;
    }
    input[type="checkbox"]:checked ~ #menu-Btn nav{
        clear: both;
        display: block;
        position: absolute;
        z-index: 900;
        transform: translateX(100%);
        transition:3s !important;
        background-color:var(--red-transparent);
        }

    .sobre .row .content p{
        font-size: 2rem;
        color: var(--dark);
        padding: 1.5rem 2rem;
        line-height: 1.8;
        text-align: justify;
    }

    #menu-btn{
        display: flexbox;
    }

    .fa-times{
        transform: rotate(-180deg);
    }

    .header .navbar{
        display: none;
        position: absolute;
        top: 110%; 
        right: -100%;
        width: 30rem;
        height: 120px;
        box-shadow: var(--box-shadow);
        background: var(--light);
        border-radius: .5rem;
    }

    .header .navbar.active{
        right: 2rem;
        transition: .4s linear;
    }

    .header .navbar a{
        font-size: 2rem;
        margin: 2rem 2.5rem;
        display: block;
    }

    .home .slide .content{
        width: 50rem;
    }

    .opniao .opniao-slider{
        width: 100%;
        padding: 1rem;
        padding-top: 15%;
    }
            /**************** planos ****************/

            .planos .row .image{
                width: 20%;
                padding-left: 20px;
            }
        
            .planos .row .image img{
                width: 100%;
                object-fit: cover;
            }
        
            .planos .row .content{
                flex: 1 1 51rem;
            }
        
            .planos .row .content h3{
                font-size: 2rem;
                color: var(--red);
                padding: 2rem 0;
                text-align: center;
            }
        
            .planos .row .content p{
                font-size: 1.6rem;
                color: var(--dark);
                padding: 1.5rem 2rem;
                line-height: 1.8;
                text-align: justify;
                text-align: center;
            }
        
            .planos .row .content p span{
                color: var(--red);
            }
            /************** sobre *********/
            .sobre .row{
                width: 100%;
                min-height:600px;
                padding: 5rem;
                box-sizing: border-box;
                
            }
            
            
            .sobre .row .image img{
                width: 100%;
                object-fit: cover;
            }
            .sobre .row .content {
                box-sizing: border-box;
                width: 100%;
            }
            .sobre .row .content p{
                font-size: 1.4rem;
                color: var(--dark);
                padding: 2px;
                text-align: justify;
                width: 100%;
            }
            .salao .slide .content p{
                height: 1.2rem;
                font-size: 1.6rem;
                color: var(--dark);
                padding: .5rem 0;
                line-height: 1.5;
                text-align: justify;
            }
            /************** Objetivos *********/
            .objetivos{
                width:100%;
                background: transparent;
                box-sizing: border-box;
                
            }
            .objetivos .rows{
                font-size: 2rem;
                width:100%;
                padding: 5rem;
                
                
            }
            .objetivos .rows .content{
                width: 100%;
                min-height: auto;
            }
            .objetivos .rows .content p{
                font-size: 1.6rem;
                color: var(--dark);
                padding: 1.5rem;
                line-height: 1.8;
                text-align: justify;
                width: 100%;
            }
        /************** previsualizar imagem *********/
            .perguntas .row .content .box p{
                font-size: 1.6rem;
                padding: 1.5rem 2rem;
                line-height: 2;
                color: var(--dark);
                text-align: justify;
            }
            
            /************ disponibilidade *************/

.disponibilidade form .box p{
    font-size: 1.4rem;
    color: var(--red);
    text-align: justify;
}

}


/*************** MODO TELEMOVEL  *******************/
@media (max-width:78rem){

    html{
        font-size: 1.4rem;
    }
    i{
        font-size: 2rem;
    }
    .header .navbar{
        position: absolute;
        top: 1%;
        margin: 0;
        padding-right: -20rem;
        width: 60rem;
    }

    .header .navbar.active{
        right: 0.2rem;
        transition: .4s linear;
    }

    .header .navbar a{
        font-size: 1.4rem;
        margin: 0.2rem 0.5rem;
    }

    .home .slide .content{
        width: 30rem;
    }

    .home .slide .content h3{
        font-size: 3rem;
    }
    #menu-btn{
        display: flexbox;
    }
/*disponibilidade mobile começa aqui*/
    .disponibilidade .row .hero form{
        width: 90%;
        max-width: 90%;
    }
    
    .disponibilidade .row .hero form .rows .input-group{
        margin-bottom: .2rem;
        justify-content: space-between;
        position: relative;
        width: 100%;
        display: flex;
    }
    
    .disponibilidade .row .hero .rows .input-group form input,
    .disponibilidade .row .hero .rows .input-group form select,
    .disponibilidade .row .hero .rows .input-group form fieldset, 
    .disponibilidade .row .hero .rows .input-group form textarea{
        display: flex;
        width: 100%;
        padding: 10px;
        outline: none;
        color: var(--dark);
        background: var(--light);
        border-radius: var(--radius);
        border: 1px solid var(--yellow);
        font-size: 1.4rem;
        position: relative;
        
    }
    
    .disponibilidade .row .hero form label{
        position: absolute;
        left: 0;
        top: 0;
        cursor: text;
        padding: 10px;
        color: var(--red);
        transition: 0.2s;
        pointer-events: none;
        font-size: 1.4rem;
        text-transform: uppercase;
        z-index: 10;
    }
    
    .disponibilidade .row .hero form button{
        padding: 10px 0;
        border: 2px solid var(--dark);
        width: 50%;
        cursor: pointer;
    }
    
            /**************** planos ****************/

            .planos .row .image{
                width: 20%;
                padding-left: 20px;
            }
        
            .planos .row .image img{
                width: 100%;
                object-fit: cover;
            }
        
            .planos .row .content{
                flex: 1 1 51rem;
            }
        
            .planos .row .content h3{
                font-size: 2rem;
                color: var(--red);
                padding: 2rem 0;
                text-align: center;
            }
        
            .planos .row .content p{
                font-size: 1.4rem;
                color: var(--dark);
                padding: 1.5rem 2rem;
                line-height: 1.8;
                text-align: justify;
                text-align: center;
            }
        
            .planos .row .content p span{
                color: var(--red);
            }
            /************** sobre *********/
            .sobre .row{
                width: 100%;
                height: 50vh;
                padding: 4rem;
                box-sizing: border-box;
                
            }
            .sobre .row .image{
                display: block;
                width: 5rem;
                height: 5rem;
                
            }
            
            .sobre .row .image img{
                width: 5rem;
                height: 5rem;
                object-fit: cover;
            }
            .sobre .row .content p{
                font-size: 1.4rem;
                color: var(--dark);
                padding: 1.5rem 2rem;
                line-height: 1.8;
                text-align: justify;
            }
            .salao .slide .content p{
                font-size: 1.4rem;
                color: var(--dark);
                padding: .5rem 0;
                line-height: 1.5;
                text-align: justify;
            }
        /************** previsualizar imagem *********/
            .perguntas .row .content .box p{
                font-size: 1.4rem;
                padding: 1.5rem 2rem;
                line-height: 2;
                color: var(--dark);
                text-align: justify;
            }
            #rowdisponibilidade{
                display:block;
            }

}
