/*************** MODO TABLET ******************/
@media (max-width:930px){

    .navbarMobile{
        width:100% !important;
        height: 10vh !important;
        background: var(--light);
        box-shadow: var(--box-shadow);
        transition: 2s;
        display:block;
        align-items: center;
        justify-content: space-between;
        grid-gap: 24px;
        z-index:100;
        position: fixed;
        text-transform:uppercase;
        padding: 1rem 4%;
        top:0;
        left:0 !important;
        border-bottom-left-radius:25%;
        border-bottom-right-radius: 25%;
        border-bottom: .4rem solid var(--red);
        background-image:url('/img/dancing2.png');
        background-repeat: no-repeat;
        background-size:6rem 8rem;
        background-position-x: center;
        box-sizing: border-box;
        
    }
    i{
        font-size: 4rem;
        color: var(--yellow);
    }
   nav{
        margin-top: 50px;
        background-color: rgba(255, 255, 255, 0.8);
        width: 100%;
        height:100rem;
        left:-100%;
        position: absolute;
        transition:3s !important;
    }
    
    ul{
        width: 100%;
        margin-top: 10px;
        list-style: none;
        position: absolute;
        padding-left: 30px;
        justify-content: space-between;
        justify-items: center center;
        text-align: center;
    }
    li{
        width: 100%;
        height: 8rem;
        display: block;
        position: relative;
        border-radius: 10px;
    }
    li a{
        font-size: 2.6rem;
        font-family: var(--montserrat);
        color: var(--yellow);
        font-weight: bolder;
        padding: 2px;
        border-bottom: .2rem solid var(--red);
    }
    .switch-mode{
        top: 10px;
        display: inline-block;
        float: right;
        font-size: 1rem;
        color: var(--yellow);
    }
    li a:hover{
        font-size: 2rem;
        color: var(--red);
    }
    input[type="checkbox"]{
        display: none;
        
    }

    label{
        position: relative;
    }
    input[type="checkbox"]:checked ~ #menuBtn nav{
        clear: both;
        display: block;
        position: absolute;
        z-index: 900;
        transform: translateX(100%);
        transition:3s !important;
        }

    .sobre .row .content p{
        font-size: 2rem;
        color: var(--dark);
        padding: 1.5rem 2rem;
        line-height: 1.8;
        text-align: justify;
    }

    #menu-btn{
        display: flexbox;
    }

    .fa-times{
        transform: rotate(-180deg);
    }

    .header .navbar{
        display: none;
        position: absolute;
        top: 110%; 
        right: -100%;
        width: 30rem;
        height: 120px;
        box-shadow: var(--box-shadow);
        background: var(--light);
        border-radius: .5rem;
    }

    .header .navbar.active{
        right: 2rem;
        transition: .4s linear;
    }

    .header .navbar a{
        font-size: 2rem;
        margin: 2rem 2.5rem;
        display: block;
    }

    .home .slide .content{
        width: 50rem;
    }

    .opniao .opniao-slider{
        width: 100%;
        padding: 1rem;
        padding-top: 15%;
    }

}
/************ disponibilidade *************/

.disponibilidade form .box p{
    font-size: 1.4rem;
    color: var(--red);
    text-align: justify;
}

/*************** MODO TELEMOVEL  *******************/
@media (max-width: 450px){

    html{
        font-size: 40%;
    }
    i{
        font-size: 2rem;
    }
    .header .navbar{
        position: absolute;
        top: 1%;
        margin: 0;
        padding-right: -20rem;
        width: 60rem;
    }

    .header .navbar.active{
        right: 0.2rem;
        transition: .4s linear;
    }

    .header .navbar a{
        font-size: 1.5rem;
        margin: 0.2rem 0.5rem;
    }

    .home .slide .content{
        width: 30rem;
    }

    .home .slide .content h3{
        font-size: 3rem;
    }
    #disponibilidadeViewMobileMode{
        display: none;
    }
}